<!DOCTYPE html>
<html lang="en">
{{> header}}

<body class="bg-white text-slate-900 dark:bg-gray-950 dark:text-slate-100" data-success="{{success}}"
    data-error="{{errors}}">
    {{{body}}}
</body>
{{> scripts}}

</html>